<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Library Information System</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <style>
        body {
            padding-top: 0px;
        }

        .navbar > .container {
            width: 100%;
            margin-left: 5%;
            margin-right: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }

        .navbar-fixed-top {
            background-color: #0e0e52;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="background-color: #0e0e52;">
            <div class="navbar-header col-md-12">
                <img src="~/Content/Pictures/libraryinfosystem.png" style="width: 50px; height: 50px; float: left" />
                <span style="display:inline-block; float:left; width: 20px;">&nbsp;</span>
                <h2 style="color: orange; float: left">Library Information System</h2>
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Log Out", "LogOut", "Login", null, new { @style="float: right; color: orange; line-height: 50px;" })        
                }
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Library Information System</p>
        </footer>
    </div>
</body>
</html>