
@{
    ViewBag.Title = "Home";
}

<br />
<h2>Librarian Home Page</h2>
<br />
<ul class="list-group">
    <a href="/AccountManagement/AddAccount" class="list-group-item">Add account</a>
    <a href="/AccountManagement/ResetPassword" class="list-group-item">Reset a user's password</a>
    <a href="/catalogmanagement" class="list-group-item">Manage catalog</a>
    <a href="/catalogmanagement/checkoutitem" class="list-group-item">Checkout Patron</a>
    <a href="/catalogmanagement/missingitemlist" class="list-group-item">View Missing Items</a>
</ul>
