
@{
    ViewBag.Title = "Home";
}

<br />
<h2>Welcome</h2>
<br />
<ul class="list-group">
    <a href="/Reporting/GeneratePatronReport" class="list-group-item">Generate Report</a>
    <a href="/catalogmanagement/UpdateItemStatus" class="list-group-item">Check Item Out</a>
    <a href="/catalogmanagement/UpdateItemStatus" class="list-group-item">Report Missing Item</a>

</ul>