
@{
    ViewBag.Title = "Home";
}

<br />
<h2>Welcome</h2>
<br />
<ul class="list-group">
   
    <a href="/reporting/GeneratePatronReport" class="list-group-item">Generate Report</a>
    <a href="/catalogmanagement/UpdateItemStatus?id=2" class="list-group-item">Reserve an Item</a>
    <a href="/catalogmanagement/UpdateItemStatus?id=3" class="list-group-item">Report Missing Item</a>

</ul>