@{ 
    ViewBag.Title = "Reset a user's password";
}
<br />
<h2>Reset password</h2>
<br />
<div>
    Reset password for user: <input type="text" id="user-input" style="margin-right: 5px;"/>
    <input type="button" value="Submit" id="user-submit" disabled />
</div>

<script>
    $(function () {
        /* Text input handler */
        $("#user-input").on("input", function () {
            if ($(this).val().length > 0) {
                $("#user-submit").removeAttr("disabled");
            } else {
                $("#user-submit").attr("disabled", "disabled");
            }
        });

        /* Form submit handler */
        $("#user-submit").click(function () {

            // make POST request to server
            $.post(
                "/AccountManagement/NewTemporaryPassword",  // URL
                $("#user-input").val(),                     // data to send
                function (response) {                       // function to call afterwards
                    alert(response.Message);
                    if (response.Success) {
                        window.location = "/AccountManagement/Home";
                    }
                }
            );
        });
    });
</script>