
@{
    ViewBag.Title = "Set Password";
}

<br />
<h2>SetPasswordConfirm</h2>
<br />
<form action="/AccountManagement/UpdatePassword" method="post">
    Enter new password: <input type="password" name="Password" /><br /><br />
    Confirn new password: <input type="password" name="PasswordConfirm" /><br /><br />
    <input type="hidden" name="passwordHash" />
    <input type="submit" value="Submit" /><span style="display: inline-block; margin-left: 5px;" id="match-msg"></span>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha512/0.7.1/sha512.min.js"></script>
<script>
    $(function () {
        $("input[type=submit]").attr("disabled", "disabled");

        $("input[name=Password], input[name=PasswordConfirm]").on("input", function () {
            var pass = $("input[name=Password]");
            var conf = $("input[name=PasswordConfirm]");

            if ((pass.val().length > 0 && conf.val().length > 0)) {
                if (pass.val() === conf.val()) {
                    $("#match-msg").text("");
                    $("input[type=submit]").removeAttr("disabled");
                    setHash();
                } else {
                    $("#match-msg").text("Passwords do not match!");
                    $("input[type=submit]").attr("disabled", "disabled");
                    $("input[name=passwordHash]").val("");
                }

            } else {
                $("#match-msg").text("");
                $("input[type=submit]").attr("disabled", "disabled");
                $("input[name=passwordHash]").val("");
            }
        });

        function setHash() {
            var password = $("input[name=PasswordConfirm").val();
            var passwordHash = sha512(password);
            $("input[name=passwordHash]").val(passwordHash);
        }
    });
</script>
