@{
    ViewBag.Title = "Login";
}
<br />
<h2>Login</h2>
<br />
<form action="/Login/Login" method="post">
    Username: <input type="text" name="UserName" />
    Password: <input type="password" name="Password" />
    <input type="hidden" name="PasswordHash" />
    <input type="submit" value="Submit" />
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha512/0.7.1/sha512.min.js"></script>
<script>
    $(function () {
        @if (!String.IsNullOrWhiteSpace((string)ViewBag.LoginError))
        {
        @:alert("@((string)ViewBag.LoginError)");
        }
    });

    $("input[name=Password").change(function () {
        var password = $(this).val();
        var passwordHash = sha512(password);
        $("input[name=PasswordHash]").val(passwordHash);
    });
</script>

