@{
    ViewBag.Title = "PatronReport";
}

<br />
@Html.ActionLink("< Back", "Home", "AccountManagement")
<br />
<br />
<h2>Patron Report</h2>
<br />
@{
    var activeAccount = (Library3700.Models.Objects.Account.AccountAdapter)System.Web.HttpContext.Current.Session["activeAccount"];
}

<p>Welcome, @activeAccount.FirstName</p>

@Html.Partial("~/Views/CatalogManagement/PatronItems.cshtml")