@model Library3700.Models.ViewModels.CatalogItemViewModel

@{
    ViewBag.Title = "Catalog";
}


    <h2 id="catalogitemTitle">Catalog Items</h2>
    <a style="text-align: right" class="btn btn-outline-info" href="/CatalogManagement/CreateItem">Add New Item</a>
<hr />
<div>
    <div class="row col-md-12">
            <input type="text" id="searchCatalog" onkeyup="catalogSearchFunction()" placeholder="&#xf002 Search By Title..." title="Type in an item name" class="fas fa-search"/>
        </div>
    @if (Model == null)
    {
        <h3>There are no items in the Library Catalog to view.</h3>
    }
    else
    {
        <table class="table" id="itemTable">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Published</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.catalogItemList)
                {
                    <tr data-item-id=@item.ItemId>
                        <td>@item.Title</td>
                        <td>@item.Author</td>
                        <td>@item.Genre</td>
                        <td>@item.PublicationYear</td>
                        <td>
                            <a class="btn btn-primary" href="/CatalogManagement/ItemDetails?id=@item.ItemId">View Details</a>
                            <a class="btn btn-success" href="/CatalogManagement/EditItem?id=@item.ItemId">Edit Item</a>
                            <a class="btn btn-danger" href="/CatalogManagement/DeleteItem?id=@item.ItemId">Delete Item</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<script>
    function catalogSearchFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("searchCatalog");
        filter = input.value.toUpperCase();
        table = document.getElementById("itemTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
    <head>
        <link href="~/Content/CSS/CatalogCSS.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <script src="~/Scripts/bootstrap.bundle.js"></script>
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/HideSeek-master/jquery.hideseek.min.js"></script>
    </head>