
@{
    ViewBag.Title = "ReportMissingItem";
}

<br />
@Html.ActionLink("< Back", "Home", "AccountManagement")
<br />
<br />
<h2>Report Missing Item</h2>

@Html.Partial("~/Views/CatalogManagement/PatronItems.cshtml")

<div id="form">
    <input type="text" placeholder="Item ID" name="ItemID" />
</div>

<script>
    $(function) {
        $("submit").click(function () {
            var url = "/CatalogManagement/UpdateItemStatus";
            var data = {

            }
        });
    });
</script>